<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1>Registro nuevos usuarios</h1>
    <form action="/validar" method="post">
        Cedula: <input type="number" name="tbl_usu_id" id="tbl_usu_id">
        Nombre: <input type="text" name="tbl_usu_nombre" id="tbl_usu_nombre">
        Correo: <input type="text" name="tbl_usu_correo" id="tbl_usu_correo">
        Contraseña: <input type="password" name="tbl_usu_contrasena" id="tbl_usu_contrasena">
        Rol: <input type="number" name="tbl_usu_rol" id="tbl_usu_rol">
        <input type="submit" value="Registrar">
    </form>
</body>
</html>