<%- include('partials/header', {title: 'Página de Inicio - JuanjoSuper'}); %>
<body>
<%- include('partials/menu'); %>
    <main>
        <div class="container mt-5">
            <h2 class="text-center">Bienvenido a la página de inicio</h2>
            <p class="text-center">Sistema de administración JuanjoSuper</p>
        </div>
    </main>
<%- include('partials/footer'); %>
<%- include('partials/bootstrap-scripts'); %>

</body>
</html>