<%- include('partials/header', {title: 'P치gina usuarios - JuanjoSuper'}); %>
<body class="bg-light">
    <%- include('partials/menu'); %>

    <main class="container mt-5">

        <div class="row">
            <div class="col">
                <h3>Listado de Usuarios</h3>
                  <table class="table table-bordered table-striped">
                    
                    <thead>
                      <tr>
                        <th>ID Usuario</th>
                        <th>Nombre</th>
                        <th>Nombre usuario</th>
                        <th>E-mail</th>
                        <th>Contrase침a</th>
                        <th>Rol</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                      </tr>
                    </thead>
                    <tbody id="data">
                    </tbody>
                  </table>

                <form id="registro-usuario-form" style="display: none;">
                </form>
            </div>
        </div>
        <button class="btn btn-primary mt-3 mb-3" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Agregar Usuario</button>

        <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="12"
            id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Agregar Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="row">
                    <form class="col-md-6">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" required>
                        </div>
                        <div class="mb-3">
                            <label for="nombre-usuario" class="form-label">Nombre usuario</label>
                            <input type="text" class="form-control" id="nombre-usuario" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="text" class="form-control" id="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Contrase침a</label>
                            <input type="text" class="form-control" id="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="role" class="form-label">Rol</label>
                            <input type="text" class="form-control" id="role" required>
                        </div>
                        <div class="mb-3">
                            <button type="button" class="btn btn-primary m-1" id="guardar"
                                onclick="registrarUsuario()">Guardar</button>
                            <button type="button" class="btn btn-secondary m-1" id="cancelar"
                                onclick="limpiarFormulario()">Cancelar</button>
                            <button type="button" class="btn btn-secondary m-1" id="reestablecer"
                                onclick="limpiarFormulario()">Reestablecer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <%- include('partials/footer'); %>
    <%- include('partials/bootstrap-scripts'); %>

    <script>
        var lastId;
        let url = 'http://localhost:3000/';
        function listarUsuarios(){
            //Primera consulta de datos
            fetch(url + 'consultar', {
                    method: 'GET'
                    })
            .then(response => response.json())
            .then(data => mostrarData(data))
            .catch(error => console.log(error))

            //Concatena los datos a la tabla
            const mostrarData = (data) => {
            let i
            let body = ""
            for (i = 0; i < data.length; i++) {
                body += `<tr>
                <td>${data[i].tbl_usu_id}</td>
                <td>${data[i].tbl_usu_nombre}</td>
                <td>${data[i].tbl_usu_nombre_usuario}</td>
                <td>${data[i].tbl_usu_correo}</td>
                <td>${data[i].tbl_usu_contrasena}</td>
                <td>${data[i].tbl_rol_nombre}</td>
                <td><button class="btn btn-primary btn-sm mx-1" id="${data[i].tbl_usu_id}">Editar</button></td>
                <td><button class="btn btn btn-danger btn-sm mx-1" id="${data[i].tbl_usu_id}">Eliminar</button></td>
                </tr>`
                lastId = data[i].tbl_usu_id;
            }
            document.getElementById('data').innerHTML = body
            }
        }
        listarUsuarios();
        function registrarUsuario(){
            var nombre = document.getElementById('nombre').value;
            var nombreUsuario = document.getElementById('nombre-usuario').value;
            var email = document.getElementById('email').value;
            var password = document.getElementById('password').value;
            var rol = document.getElementById('role').value;
            if (nombre == '' || nombreUsuario == '' || email == '' || password == '' || rol == '') {
                alert("Hay campos sin informaci칩n en el formulario de registro, por favor completarlos previo a guardar.");
            } else {
                //Envia datos creados
                const create = () => {
                const data = {
                    "id": lastId+1,
                    "nombre": nombre,
                    "nombreUsuario": nombreUsuario,
                    "email": email,
                    "password": password,
                    "rol": rol
                }

                fetch(url + 'crear', {
                    method: 'POST',
                    body: JSON.stringify(data),
                    headers: {
                    'Content-Type': 'application/json',
                    }
                },
                ).then((res) => {
                    if (res.status == 500) {
                    alert('error interno - Usuario no creado')
                    } else {
                    alert('Usuario Creado')
                    listarUsuarios()
                    }

                }).catch((err) => {
                    console.log(err);
                })

                }
            create();
            }
        }
        function limpiarFormulario(){
            document.getElementById('nombre').value = '';
            document.getElementById('nombre-usuario').value = '';
            document.getElementById('email').value = '';
            document.getElementById('password').value = '';
            document.getElementById('role').value = '';
        }
    </script>
</body>
</html>
